.logo .t-logo {
    font-size: 4.5em;
    font-family: 'Lobster', cursive;
}

.logo .t-logo-2 {
    font-size: 3em;
    font-family: 'Lobster', cursive;
    color: #555;
}

.logo .t-logo-2:hover {
    color: rgb(56, 55, 55);
}

.logo .t-logo:hover {
    color: #6793da;
}
